body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}
.container {
  padding: 0 50px;
}
p {
  font-size: 20px;
  color: #000;
  text-align: center;
}
#bloc-2-services > div > p {
  font-size: 26px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
nav ul {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-right: 39px;
}
nav ul li {
  font-size: 17px;
  transition: transform 1s;
}
nav ul li:hover {
  transform: scale(1.2);
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
div > div:nth-child(2) > div > img {
  width: 100px;
}
.bg-banniere h1 {
  background-color: rgba(165, 147, 99, 0.5);
  padding: 4px;
}
.bg-banniere a {
  background-color: #000000cf;
  padding: 12px;
  border-radius: 17px;
  color: #fff;
  font-size: 19px;
  margin-bottom: 10px;
}

.bloc {
  clear: both;
  background: 50% 50% no-repeat;
  padding: 0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.bloc-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bloc-sm {
  padding: 20px 50px;
}

.bg-repeat {
  background: repeat;
  background-image: url(img/lines-h2-bg.png);
}

.bg-banniere {
  background-image: url("img/agence-la-panthere.avif");
  background-attachment: fixed;
  padding: 0px;
}
#bloc-5-cta > div {
  background-image: url(img/texture-paper.png);
  padding: 50px;
  background-size: cover;
}
.row {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bloc-5-cta h2 {
  background-color: rgba(165, 147, 99, 0.7);
  width: 70%;
}

.row .btn {
  color: white;
  background-color: #df3602;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 19px;
}

.voffset {
  margin-top: 30px;
}

.voffset-lg {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.col-sm-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  padding: 10px 25px;
}

#bloc-2-services > div > div.row.voffset-lg.voffset > div {
  width: 45%;
}

#bloc-1-hero h1 {
  font-size: 32px;
}

.navbar-brand img {
  width: 95%;
  height: 94px;
  margin: 10px;
}

.nav-center .navbar-header {
  width: 100%;
}
.ligne_1,
.ligne_2 {
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
}
.col-sm-6 {
  width: 45%;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-sm-6 a {
  width: 100%;
}
.hero-bloc-text {
  font-size: 26px;
}
.mg-lg {
  font-size: 20px;
}
.hero-bloc-text,
.mg-lg {
  color: #040303;
}

.contact {
  background-color: #00000091;
  padding: 10px;
  border-radius: 17px;
  color: #fff;
  font-size: 19px;
}
.row p {
  margin: 80px 0 60px 0;
  font-size: 22px;
}

#bloc-2-services div.row.voffset-lg.voffset p {
  font-size: 21px;
}
body > div > div:nth-child(4) {
  background-image: url(img/image-de-presentation.avif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.texture {
  background-image: url(img/texture-paper.png);
  padding: 30px;
}

body > div > div:nth-child(4) > div > div {
  background-color: rgba(165, 147, 99);
  padding: 40px 40px 40px 40px;
  max-width: 600px;
  margin: auto;
}
img {
  display: block;
  width: 20%;
  height: auto;
}
a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;
}
a[data-lightbox]:hover::before {
  content: "+";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial;
  font-size: 32px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 100;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.ligne_1 img,
.ligne_2 img {
  width: 100%;
  object-fit: cover;
  height: auto;
}
.ligne_1 img:hover,
.ligne_2 img:hover {
  opacity: 0.7;
}
.lost_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #df3602;
}
footer h3 {
  width: 100%;
  text-align: center;
}
footer .reseaux {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
footer .links_bottom {
  display: flex;
  justify-content: space-around;
  width: 1000px;
}
footer a {
  font-size: 17px;
  color: #fff;
}
footer ul {
  margin-bottom: 60px;
}
.reseaux a:hover span {
  color: white;
}

/* CSS page de contact*/

.bg-dots-bg {
  background-image: url(img/dots-bg.png);
}
.bgc-atomic-tangerine:first-of-type {
  background: url(img/texture-paper.png);
  background-color: #f3976c;
  background-size: 280px 280px;
}
.bgc-atomic-tangerine:nth-of-type(2) {
  background-color: #f3976c;
  background-size: 280px 280px;
}
form {
  display: flex;
  padding: 40px;
  flex-direction: column;
}
.form-group input {
  margin-top: 7px;
}
form label {
  display: flex;
  flex-direction: column;
}
form label input,
form label textarea {
  margin-left: 15px;
  width: 250px;
}
.form-group {
  padding: 8px;
}
form button {
  cursor: pointer;
  color: #fff;
  background-color: #df3602;
  align-self: flex-start;
  padding: 10px;
  font-size: 17px;
  margin-left: 24px;
}

#bloc-8 > div > div > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 992px) {
  #bloc-2-services > div > div.row.voffset-lg.voffset > div {
    width: 65%;
  }
}

@media all and (max-width: 808px) {
  body,
  p {
    font-size: 17px;
  }
  h2 {
    font-size: 21px;
  }
  .page-container {
    width: 100%;
  }
  .bloc {
    padding: 0 0;
  }
  .bloc .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #message {
    width: 80%;
  }
  .voffset-lg {
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }
  #bloc-2-services > div > div.row.voffset-lg.voffset > div {
    width: 75%;
  }

  .ligne_1,
  .ligne_2 {
    flex-direction: column;
  }
  .col-sm-4 {
    width: 100%;
  }
  .col-sm-6 {
    width: 100%;
  }

  footer .links_bottom {
    flex-direction: column;
  }
}
